{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'default/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'default/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="logo-container">
            <img src="{% static 'default/img/logo.png' %}">
            <p class="logo-title">WORKBOOK</p>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>